<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OHeadcamMapApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <OHeadcamMapApp.My.MySettings>
      <setting name="ffmpegVidstabDetect" serializeAs="String">
        <value>vidstabdetect=shakiness=10:accuracy=15:mincontrast=0.200:stepsize=6:show=0:result=data.trf:tripod=0:result=data.trf</value>
      </setting>
      <setting name="ffmpegVidstabTransform" serializeAs="String">
        <value>vidstabtransform=smoothing=25:crop=black:zoom=0:optzoom=0:interpol='bicubic':input=data.trf:tripod=0,unsharp=7:7:3:7:7:3</value>
      </setting>
      <setting name="ffmpegVidstabDetectOut" serializeAs="String">
        <value> -f null -</value>
      </setting>
      <setting name="ffmpegLensCorrection" serializeAs="String">
        <value>lenscorrection=cx=0.5:cy=0.5:k1=-0.200:k2=0.000</value>
      </setting>
      <setting name="ffmpegJoin" serializeAs="String">
        <value>-f concat -safe 0 -i joinlist.txt</value>
      </setting>
      <setting name="ffmpegOutFps" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ffmpegCRF" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="ffmpegMaxBitr" serializeAs="String">
        <value>20M</value>
      </setting>
      <setting name="ffmpegPreset" serializeAs="String">
        <value>fast</value>
      </setting>
      <setting name="VideoQuality" serializeAs="String">
        <value>High</value>
      </setting>
      <setting name="VideoEncoderSpeed" serializeAs="String">
        <value>Balanced</value>
      </setting>
      <setting name="ffmpegBufsize" serializeAs="String">
        <value>40M</value>
      </setting>
      <setting name="ffmpegScaleMap" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="SbSLength" serializeAs="String">
        <value />
      </setting>
      <setting name="SbSLfile" serializeAs="String">
        <value />
      </setting>
      <setting name="SbSRfile" serializeAs="String">
        <value />
      </setting>
      <setting name="SbSOutfile" serializeAs="String">
        <value>Out.mp4</value>
      </setting>
      <setting name="SettingSbSCode" serializeAs="String">
        <value>-filter_complex "[0:v]scale=-1:1080[v0];[1:v]scale=-1:1080[v1];[v0][v1]hstack"</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="Transparency" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MIZoomTransparency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MILegTransparency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MIDynamicTransparency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NoAudio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MLegMapH" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MLegMapV" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MHeightH" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MHeightV" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MRouteH" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MRouteV" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MSpeedH" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MSpeedV" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="No_deshake_filter" serializeAs="String">
        <value>normalize=blackpt=black:whitept=white:smoothing=10:strength=0.5</value>
      </setting>
      <setting name="txtInpCutFromStart" serializeAs="String">
        <value />
      </setting>
      <setting name="Videofiles" serializeAs="String">
        <value />
      </setting>
      <setting name="GPXfile" serializeAs="String">
        <value />
      </setting>
      <setting name="QRimage" serializeAs="String">
        <value />
      </setting>
      <setting name="QRXML" serializeAs="String">
        <value />
      </setting>
      <setting name="Outputfile" serializeAs="String">
        <value />
      </setting>
      <setting name="Videofilesfull" serializeAs="String">
        <value />
      </setting>
      <setting name="videofiles2" serializeAs="String">
        <value />
      </setting>
      <setting name="QRLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MusicAudiofile" serializeAs="String">
        <value />
      </setting>
      <setting name="MusicOutputfile" serializeAs="String">
        <value />
      </setting>
      <setting name="Audiolevel" serializeAs="String">
        <value />
      </setting>
      <setting name="trackAudiolevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Musiclevel" serializeAs="String">
        <value />
      </setting>
      <setting name="trackMusiclevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AudioVideofile" serializeAs="String">
        <value />
      </setting>
      <setting name="Musicfile" serializeAs="String">
        <value />
      </setting>
      <setting name="QRXMLTimesec" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StatusInputVideo" serializeAs="String">
        <value />
      </setting>
      <setting name="StatusMakeMap" serializeAs="String">
        <value />
      </setting>
      <setting name="StatusOutputVideo" serializeAs="String">
        <value />
      </setting>
      <setting name="VideoInLength" serializeAs="String">
        <value>0:00:00</value>
      </setting>
      <setting name="MapLength" serializeAs="String">
        <value>0:00:00</value>
      </setting>
      <setting name="OutputVideoLength" serializeAs="String">
        <value>0:00:00</value>
      </setting>
      <setting name="bAdjVideoIsReady" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdjVideoLength" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="AdjVideoGPSDiff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dFfmpegScaleMap" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MlegMapH2" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ckShowLegMap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ckShowRouteMap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cbShowSpeedPanel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cbHeightGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GPXDiff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cbShowLegMAp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cbShowRoute" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cbShowDynamicMap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MIWidgetTimeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MIWidgetDistanceEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MIWidgetPaceEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MIWidgetPulseEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MIWidgetHGraphEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrepareLength" serializeAs="String">
        <value />
      </setting>
      <setting name="lblMapLength" serializeAs="String">
        <value>0:00:00</value>
      </setting>
      <setting name="OutputLength" serializeAs="String">
        <value />
      </setting>
      <setting name="cbLoopMusic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="txtMusicOutputfile" serializeAs="String">
        <value />
      </setting>
      <setting name="txtVideoPos" serializeAs="String">
        <value />
      </setting>
      <setting name="txtGPSPos" serializeAs="String">
        <value />
      </setting>
      <setting name="AdjTestVideoReady" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MusicFFMpegParam" serializeAs="String">
        <value />
      </setting>
      <setting name="bDoMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bOutputfileReady" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtMapVideoFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="txtRealtimeFactor" serializeAs="String">
        <value />
      </setting>
      <setting name="bUseMapTrackingVideo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrackMapVideoFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="TrackMapImageFile" serializeAs="String">
        <value />
      </setting>
      <setting name="TrackMapWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TrackMapHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TrackMapVideoLength" serializeAs="String">
        <value>0:00:00</value>
      </setting>
      <setting name="StatusPrepare" serializeAs="String">
        <value />
      </setting>
      <setting name="cbXMakeframes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VideoWorkFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="VideoPadding" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="cbSetImgM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rbSetImgR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rbSetImgL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JoinFileLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MILegWidth" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="MILegHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MILegMargin" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MILegRad" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="MIZoomWidth" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="MIZoomHeight" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="MIZoomRad" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="MIZoomZoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MIDynamicWidth" serializeAs="String">
        <value>430</value>
      </setting>
      <setting name="MIDynamicHeight" serializeAs="String">
        <value>430</value>
      </setting>
      <setting name="MIDynamicRad" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="MIDynamicZoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MIDynamicMinZoom" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MIDynamicMaxZoom" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="MIDynamicLookBehindSeconds" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MIDynamicLookAheadSeconds" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="MIDynamicMargin" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="MIFrameColor" serializeAs="String">
        <value>192, 0, 0</value>
      </setting>
      <setting name="MIFrameWidth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MITailDuration" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MITailColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="MITailRatio" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="MIDotSize" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="MIFLegPos" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MIFLegDim" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MIFZoomPos" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MIFZoomDim" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MIDotColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="MIZoomMapPos" serializeAs="String">
        <value>80, 100</value>
      </setting>
      <setting name="MILegMapPos" serializeAs="String">
        <value>80, 450</value>
      </setting>
      <setting name="MIDynamicMapPos" serializeAs="String">
        <value>80, 800</value>
      </setting>
      <setting name="MIWidgetTimeMapPos" serializeAs="String">
        <value>1160, 80</value>
      </setting>
      <setting name="MIWidgetDistanceMapPos" serializeAs="String">
        <value>1160, 175</value>
      </setting>
      <setting name="MIWidgetPaceMapPos" serializeAs="String">
        <value>1160, 270</value>
      </setting>
      <setting name="MIWidgetPulseMapPos" serializeAs="String">
        <value>1160, 365</value>
      </setting>
      <setting name="MIWidgetHGraphMapPos" serializeAs="String">
        <value>880, 870</value>
      </setting>
      <setting name="MIWidgetTimeWidth" serializeAs="String">
        <value>220</value>
      </setting>
      <setting name="MIWidgetTimeHeight" serializeAs="String">
        <value>82</value>
      </setting>
      <setting name="MIWidgetDistanceWidth" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="MIWidgetDistanceHeight" serializeAs="String">
        <value>82</value>
      </setting>
      <setting name="MIWidgetPaceWidth" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="MIWidgetPaceHeight" serializeAs="String">
        <value>82</value>
      </setting>
      <setting name="MIWidgetPulseWidth" serializeAs="String">
        <value>190</value>
      </setting>
      <setting name="MIWidgetPulseHeight" serializeAs="String">
        <value>82</value>
      </setting>
      <setting name="MIWidgetHGraphWidth" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="MIWidgetHGraphHeight" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="MIWidgetTimeOffsetSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VidAdj_Rot" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VidAdjSharp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VidAdjBright" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VidAdjContr" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VidAdjSatur" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VidAdjGamma" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VidAdjHue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VidAdjColImpr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VidAdjNoise" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VidAdjLensDist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VidAdj_Zoom" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MIZoomCircle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="PostVideoList" serializeAs="String">
        <value />
      </setting>
      <setting name="PostVideo" serializeAs="String">
        <value />
      </setting>
      <setting name="MIArrowBarb" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="MIArrowWidth" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="MIDotType" serializeAs="String">
        <value>Arrow</value>
      </setting>
      <setting name="QRImage2" serializeAs="String">
        <value />
      </setting>
      <setting name="QRXML2" serializeAs="String">
        <value />
      </setting>
      <setting name="QRXMLTimesec2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MapFlipStartS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GPXDiff2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MapFlipStartT" serializeAs="String">
        <value>0:00:00</value>
      </setting>
      <setting name="MapFlipActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QRimage1" serializeAs="String">
        <value />
      </setting>
      <setting name="QRXML1" serializeAs="String">
        <value />
      </setting>
      <setting name="GPXDiff1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MapFlipOnOff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JoinFileWidth" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="JoinFileHeight" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="chkHDFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputFormat" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="InfoOutVideoFormat" serializeAs="String">
        <value>Format: 1920x1080</value>
      </setting>
      <setting name="MIFrameFeather" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MISmoothFrameStepSeconds" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="MISmoothParallelGeneration" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MILegRenderLayout" serializeAs="String">
        <value>web</value>
      </setting>
      <setting name="MITailUseSpeedColors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MIPaceFastMinPerKm" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MIPaceSlowMinPerKm" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="MITailTransparency" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="MIArrowOutlineScale" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SettingsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverlayEstimateHdSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverlayEstimate2KSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverlayEstimate4KSeconds" serializeAs="String">
        <value>0</value>
      </setting>
    </OHeadcamMapApp.My.MySettings>
  </userSettings>
</configuration>
